body {
  margin: 0;
  box-sizing: border-box;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

button {
  transition: transform 0.1s;
  border-radius: 4px;
}

button:active {
  transform: translateY(3px);
}
